asgiref==3.9.1
distlib==0.3.9
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
filelock==3.18.0
Markdown==3.8.2
platformdirs==4.3.8
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.14.1
virtualenv==20.31.2
