$mobile: "(max-width: 768px)";
$tablet: "(max-width: 1024px)";

body, html {
  font-family: 'Inter', sans-serif !important;
}

.width-sm {
  width: 800px;
  margin: 0 auto;
}


.width-md {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$tablet} {
    max-width: 1024px;
    padding: 0 24px;
  }

  @media #{$mobile} {
    max-width: 375px;
    padding: 0 16px;

  }
}


.width-lg {
  width: 1840px;
  margin: 0 auto;
}
