$mobile: "(max-width: 800px)";
$tablet: "(max-width: 1900px)";

body, html {
  font-family: 'Inter', sans-serif !important;
}

.width-sm {
  width: 800px;
  margin: 0 auto;
  @media #{$mobile} {
    max-width: 100%;
  }
}

.width-lg {
  width: 1840px;
  margin: 0 auto;

  @media #{$tablet} {
    max-width: 100%;
  }
  //@media #{$mobile} {
  //  max-width: 100%;
  //  //padding: 0 16px;
  //
  //}
  //  @media #{$tablet} {
  //  max-width: 1024px;
  //  //padding: 0 24px;
  //}



}

.width-md {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  //padding: 0 32px;

  //@media #{$tablet} {
  //  max-width: 1840px;
  //}

  @media #{$mobile} {
    width: 100%;
    margin: 0 auto;
    //padding: 0 16px;

  }
}


.no-scroll {
  overflow: hidden;
  height: 100vh;
}


//.html, body {
//  overflow-x: hidden;
//}