body, html {
  font-family: 'Inter', sans-serif !important;
}

.width-sm {
  width: 800px;
  margin: 0 auto;
}

.width-md {
  width: 1280px;
  margin: 0 auto;
}

.width-lg {
  width: 1840px;
  margin: 0 auto;
}
